# Dependency directory
node_modules

# Optional npm cache directory
.npm
.cache

# Optional REPL history
.node_repl_history

# vscode files
.vscode

.env
.next
dist
NOTES.md

export-map.json
*.log
npm-debug.log