# Dependency directory
node_modules/

# Optional npm cache directory
.npm
.cache

# Optional REPL history
.node_repl_history

# VSCode files
.vscode/*
!.vscode/snippets
!.vscode/launch.json
!.vscode/settings.json

# Build output
build/
.next/
dist/

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-error.log*

# Firebase config folder
.firebase

# Other
NOTES.md
.env
.DS_Store
.idea
.envs/
.backups/
firebase-service-account.json